footer {
	margin-top: 30px;
	padding: 30px 0;
	color: #fff;
	background-color: #222;
	border-top: 1px solid #090909;
}

#putinbasket {
	margin-top: 20px;
	padding-left: 0px;
}

#priceproduct {
	font-size: 90px;
}

.cartbutton {
	padding: 10px 30px;
	font-size: 20px;
}

.checkout-product-img {
	display: inline;
}

.table-centered > tbody > tr > td {
	vertical-align: middle;
}

.navbar-top {
	margin-top: 65px;
	margin-bottom: 70px;
}

#logo{
	display:block;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	margin-top: -55px;
}

.jumbotron {
	margin-top: -70px;
	padding-top: 0;
	background-color: #fafafa;
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
}

.jumbotron img {border: 5px solid #eaeaea;}

#pictureborder img {border: 5px solid #eaeaea;}

.nav-dropdown-form{
	margin: 3px 0;
}

.cart-item{
	width: 380px;
	margin-bottom: 5px;
}

.cart-item-total {
	float: right;
	font-weight: bold;
}

.filter-box{
	background: #fafafa;
	padding: 2px 20px 15px;
	margin: 0 0 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
}

#product-grid > .row {
	margin: 15px 0;
}

#putinbasket {
	margin-top: 20px;
	padding-left: 0px;
}

#priceproduct {
	font-size: 90px;
}

.checkout-product-img {
	display: inline;
}

.table-centered > tfoot > td {
	vertical-align: top;
}

#cart-item-image{
	width: 64px;
}

#cart-item-title{
	width: 170px;
}