footer {
	margin-top: 30px;
	padding: 30px 0;
	color: #fff;
	background-color: #222;
	border-top: 1px solid #090909;
}

body {
	background: url('../img/retro.jpg');
	font-family: Century gothic;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.collapse-btn.collapsed:before {
	content: 'Filtrera på modell, färg eller pris \25BC';

}

.collapse-btn:before {
	content: 'Dölj filter \25B2';
}

.error-message {
	color: red;
}

#putinbasket {
	margin-top: 20px;
	padding-left: 0px;
}

#saleprice {
	color: red;
}

.productprice {
	font-size: 90px;
	margin-bottom: -20px
}

.cartbutton {
	padding: 10px 30px;
	font-size: 20px;
}

.checkout-product-img {
	display: inline;
}

.table-centered > tbody > tr > td {
	vertical-align: middle;
}

table.cake-sql-log th, table.cake-sql-log td {
	padding: 5px;
}

.navbar-top {
	margin-top: 65px;
	margin-bottom: 70px;
}

#logo{
	display:block;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	margin-top: -55px;
}

.window {
	background-color: rgba(255, 255, 255 , 0.97);
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
	padding: 20px;
}

.jumbotron {
	margin-top: -70px;
	background-color: rgba(255, 255, 255 , 0.97);
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
}

.window > h1 {margin-top: 0;}
.bordered-pictures img{border: 5px solid #eaeaea;}
.picture-wrapper {position: relative;}
.nav-dropdown-form{margin: 3px 0;}

.cart-item{
	width: 380px;
	margin-bottom: 5px;
}

.cart-item-total {
	float: right;
	font-weight: bold;
}

#product-grid > .row {
	margin: 15px 0;
}

#product-grid > div.row > div, .jumbotron > div.container > div.row > div {
	z-index: 1;
}

#putinbasket {
	margin-top: 20px;
	padding-left: 0px;
}

#priceproduct {
	font-size: 90px;
	padding-bottom: 0;
}

#salesprice {
	color: red;	
}

#tshirtpicture {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

#regularprice {
	font-size: 15px;
	font-style: italic;
}

.checkout-product-img {
	display: inline;
}

.table-centered > tfoot > td {
	vertical-align: top;
}

#cart-item-image{
	width: 64px;
}

#cart-item-title{
	width: 170px;
}