.navbar-top {
	margin-top: 65px;
}

#logo{
	display:block; 
	position: absolute; 
	left: 50%; 
	margin-left: -80px; 
	margin-top: -55px;
}

.nav-dropdown-form{
	margin: 3px 0;
}

.cart-item{
	width: 300px;
	margin-bottom: 5px;
}

#filter-wrapper{
	background: #eee; 
	padding: 5px;
}

.filter-box{
	background: white; 
	padding: 10px; 
	margin: 10px; 
	box-shadow: 0 2px 2px rgba(0,0,0,.05);
}

#product-grid > .row{
	margin:15px 0;
}